<!-- <div class="reset-password-container">
    <div class="reset-password">
        <img src="../../assets/img/logo.png" alt="">
        <p>Connecting dreams</p>
        <div class="reset-form">
            <h4 >Reset Password</h4>
            <p>Enter your new password</p>
            <form [formGroup]="resetPasswordForm"  (ngSubmit)="sendResetPassword()">
                <input formControlName="password" type="password" placeholder="New Password">
                <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                <button style="color: white;" type="submit">Reset Password</button>
            </form>
            <form action="" >
                
            </form>
        </div>

    </div>
</div> -->
