<br><br>
<footer>
    <div class="footer-container">
        <div class="footer-logo-pnb" style="">
            <img class="footer-shopie-logo" src="../../assets/img/logo.png" alt="">
        </div>
        <div class="company-container">
            <h4 class="">Company</h4>
            <a routerLink=""><p>Home</p></a>
            <!-- <a routerLink="about-us"><p>About</p></a> -->
            <a routerLink="contact-us"><p>Contact</p></a>
        </div>
        <div class="contact-us">
            <h4 class="">Contact</h4>
            <p class=""><i class="fa fa-map-marker-alt me-3"></i> Nyeri-Town, Kenya</p>
            <p class=""><i class="fa fa-phone-alt me-3"></i> +254791483840</p>
            <p class=""><i class="fa fa-envelope me-3"></i> info@linkup.com</p>
            <div class="footer-icons">
                <a class="" href=""><i class="fab fa-twitter"></i></a>
                <a class="" href=""><i class="fab fa-facebook"></i></a>
                <a class="" href=""><i class="fab fa-youtube"></i></a>
                <a class="" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; <a class="border-bottom" href="#">LinkUp Social </a>, All Right Reserved.
    </div>
</footer>
