<app-navbar></app-navbar>

<section class="body-container">
    <div class="profile-header">
        <div class="dp">
            <img *ngIf="userProfileData?.profile_pic_url" src="{{userProfileData?.profile_pic_url}}" alt="profile-picture-of-{{userProfileData?.username}}">
            <img *ngIf="!userProfileData?.profile_pic_url" src="../../assets/img/user.jpg" alt="profile-picture-of-{{userProfileData?.username}}">
        </div>
        <div class="profile-details">
            <div class="top-profile-details">
                <div>
                    <h2>{{userProfileData?.first_name}} {{userProfileData?.last_name}}</h2>
                    <h3 id="users-name">@{{userProfileData?.username}}</h3>
                </div>
                <!-- <p *ngIf="userProfileData?.they_follow_me">Follows You</p>
                <p *ngIf="!userProfileData?.they_follow_me">Not Follows You</p> -->
                <button *ngIf="userProfileData?.they_follow_me && !isMyProfile(userProfileData?.user_id)">Follows You</button>
                <button *ngIf="!userProfileData?.they_follow_me && !isMyProfile(userProfileData?.user_id)">Not Follows You</button>
                <button *ngIf="isMyProfile(userProfileData?.user_id)"> <a routerLink="/edit-profile" style="color: black;"><i class="fa-solid fa-pen-to-square"></i> edit profile</a></button>
            </div>
            <button (click)="follow(userProfileData?.user_id)" *ngIf="!userProfileData?.i_follow_them && !isMyProfile(userProfileData?.user_id)">Follow</button>
            <button (click)="unfollow(userProfileData?.user_id)" *ngIf="userProfileData?.i_follow_them && !isMyProfile(userProfileData?.user_id)">UnFollow</button>
            <button (click)="openBarnUserModal(userProfileData?.user_id)" *ngIf="isAdmin() && !isMyProfile(userProfileData?.user_id) && !userProfileData?.is_deleted">Suspend</button>
            <button (click)="openUnbarnUserModal(userProfileData?.user_id)" *ngIf="isAdmin() && !isMyProfile(userProfileData?.user_id) && userProfileData?.is_deleted">Unsuspend</button>
            <div class="mid-profile-details">
                <h4>19 posts</h4>
                <h4>190 followers</h4>
                <h4>190 following</h4>
            </div>
            <br>
            
            <p id="user-bio">{{userProfileData?.bio}}</p>
            <div class="social-links">
                <!-- Facebook -->
                <a *ngIf="userProfileData?.facebook_url !== null && userProfileData?.facebook_url !== undefined && userProfileData?.facebook_url !== ''" href="{{userProfileData?.facebook_url}}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook"></i>
                </a>

                
                <!-- Instagram -->
                <a   *ngIf="userProfileData?.instagram_url !== null && userProfileData?.instagram_url !== undefined && userProfileData?.instagram_url !== ''" href="{{userProfileData?.instagram_url}}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <!-- LinkedIn -->
                <a   *ngIf="userProfileData?.linkedin_url !== null && userProfileData?.linkedin_url !== undefined && userProfileData?.linkedin_url !== ''" href="{{userProfileData?.linkedin_url}}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>
                
                <!-- Gmail -->
                <div>
                    <a  *ngIf="!userProfileData?.keep_email_private"  href="mailto:{{userProfileData?.email}}" target="_blank" rel="noopener noreferrer" >
                        <i class="far fa-envelope"></i>
                    </a>
                </div>

                <a  *ngIf="userProfileData?.website_url !== null && userProfileData?.website_url !== undefined && userProfileData?.website_url !== ''" href="{{userProfileData?.website_url}}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-globe"></i>
                </a>
            </div>

        </div>

    </div>

</section>

<div class="content-navigation">
    <button (click)="setActiveTab('posts')">Posts</button>
    <button (click)="setActiveTab('following')">Following</button>
    <button (click)="setActiveTab('followers')">Followers</button>
</div>

<section class="body-container" *ngIf="navigateTo=='followers'" id="followers">
    <br>
    <br>
    <div class="search-users">
        <input type="text">
        <button>search</button>
    </div>
    <div class="single-user" *ngFor="let user of followersNfollowing[0];">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <div>
                    <h3 (click)="viewUserProfile(user.follower_username)">{{user.name}}</h3>
                    <h4 (click)="viewUserProfile(user.follower_username)">@{{user.follower_username}}</h4>
                </div>
            </div>

            <button *ngIf="!user.is_following && !isUsernameMine(user.follower_username)">follow</button>
            <button *ngIf="user.is_following && !isUsernameMine(user.follower_username)">unfollow</button>
            
        </div>
    </div>
</section>

<section class="body-container" *ngIf="navigateTo=='following'" id="following">
    <br>
    <br>
    <div class="search-users">
        <input type="text">
        <button>search</button>
    </div>
    <div class="single-user" *ngFor="let user of followersNfollowing[1];">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <div>
                    <h3 (click)="viewUserProfile(user?.following_username)">{{user.name}}</h3>
                    <h4 (click)="viewUserProfile(user?.following_username)">@{{user.following_username}}</h4>
                </div>
            </div>
            <button *ngIf="!user.is_following && !isUsernameMine(user.following_username)">follow</button>
            <button *ngIf="user.is_following && !isUsernameMine(user.following_username)">unfollow</button>
            
        </div>
        
        
       
    </div>
</section>

<section class="body-container" id="posts" *ngIf="navigateTo=='posts'">
    <br><br>
    <div class="picture-post" *ngFor="let post of singleUserPosts;  let i = index">
        <div class="user-post-container" >
            <div class="user-details">
                <img  src="{{post.user_dp}}" alt="">
                <div>
                    <h3 class="username" >{{post?.user_name}}</h3>
                    <h5 class="post-mood">feeling sijui aje with 17 others</h5>
                </div>
                
            </div>
            <div class="view-post-option-div" #mainContainer (click)="handleContainerClick($event)">
                <button class="view-post-options" (click)="togglePostOptions(i)">[ooo]</button>
                <div  class="post-options" *ngIf="postOptionsVisibility[i]">
                    <p>report</p>
                    <p  *ngIf="isMyPost(post.user_id)" >archive</p>
                    <p  *ngIf="isAdmin()" >suspend</p>

                    <p  *ngIf="isMyPost(post.user_id)" (click)="openEditPostModal(i,post.post_id)">edit</p>
                    <p *ngIf="isMyPost(post.user_id)" (click)="deleteCurrentPost(post.post_id)" class="login-btn">delete</p>
                </div>
            </div>
        </div>
        <p id="post-body-{{post.post_id}}">{{post?.body}}</p>
        <div class="post-pic">
            <img src="{{post.image}}" alt="">
        </div>
        <div class="icons">
            <button (click)="likePost(post)" *ngIf="!post.has_liked"><i id="like-btn-{{post.post_id}}" class="far fa-heart fa-lg"></i></button>
            <button (click)="likePost(post)" *ngIf="post.has_liked"><i  class="fas fa-heart fa-lg" style="color: red;"></i></button>
            <p  *ngIf="post.like_count === 1">{{post?.like_count}} like</p>
            <p *ngIf="post.like_count > 1"> {{post?.like_count}} likes</p>
                
            <i (click)="viewComments(post.post_id)" class="fas fa-comment fa-lg"></i>

                
        </div>
        <!-- <h4 class="username">{{post['user_name']}}</h4> -->
        

        <div class="comment-post">
            <button (click)="viewComments(post.post_id)" >view comments</button>
            <form action="" >
                <div class="comment-section" >
                    <div>
                        <input type="text">
                    </div>
                    <button class="btn btn-secondary" style="align-self: flex-end; ">Add Comment</button>
                </div>
                
            </form>

        </div>
        
    </div>

</section>

<app-footer></app-footer>