<app-navbar></app-navbar>

<section class="body-container">
    <div class="edit-profile">
        <div class="top-edit-profile">
            <h3>Edit Profile</h3>
            <img src="../../assets/img/test_profile.jpg" alt="">
        </div>

        <div class="edit-form">
            <div>
                <input type="text" name="first_name" placeholder="first_name">
                <input type="text" name="last_name" placeholder="last_name">
            </div>
            <div>
                <input type="text" name="username" placeholder="username">
                <input type="text" name="email" placeholder="email">
            </div>
            <div>
                <input type="text" name="linkedin" placeholder="linkedin">
                <input type="text" name="facebook" placeholder="facebook">
            </div>
            <div>
                <input type="text" name="instagram" placeholder="instagram">
                <input type="text" name="discord" placeholder="discord">
            </div>

            <textarea name="" id="" cols="30" rows="10" placeholder="User bio"></textarea>

            <button>save changes</button>
        </div>

    </div>

</section>

<app-footer></app-footer>