/********   navbar  ********/

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background-color: #6179D4;
    color:#ffffff;
    height: 60px;
    box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
}

.navbar.sticky {
    position: fixed;
    background-color:#738be3;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1080;
    animation: navTransition 0.5s ease;
    box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
}

  
.navbar.sticky.fixed ~ * {
   margin-top: 60px; /* Adjust this value to match the navbar's height */
 }

 @keyframes navTransition {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


.logo img{
    width: 50px;
}

.navig{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 35%;
}

.nav-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* gap: 20px; */
}

.nav-profile img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.hamburger-click{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-options {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 120%; 
    right: 0;
    padding: 5px;
    width: 150px;
    background-color: #dfddff;
    color: black;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* top: calc(100% + 5px); */
    font-size: 15px;
}

.menu-options p {
    padding: 10px 20px; /* Add padding to left and right */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add line at the bottom */
    cursor: pointer; /* Add cursor pointer on hover */
}

.navig-page{
    display: none;
}

@media (max-width: 767px) {
.navig{
    display: none;
}

.navig-page{
    display: block;
}

.humburger{
    display: block;
}

}
