<section class="navbar">
    <div class="logo">
        <a routerLink=""><img src="../assets/img/logo.png" alt=""></a>
    </div>
    <div class="navig">
        <p><a routerLink="">Home</a></p>
        <p><a routerLink="about-us">About</a></p>
        <p><a routerLink="contact-us">Contact</a></p>
    </div>
    <div class="nav-profile">
        <img src="../assets/img/test_profile.jpg" alt="">
        <div class="hamburger-click">
            <p class="">silomaben</p>
            <div class="humburger" id="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 10l5 5l5-5z"/></svg>
            </div>
        </div>
        <div class="menu-options">
            <p class="navig-page"><a routerLink="">Home</a></p>
            <p class="navig-page"><a routerLink="/about-us">About</a></p>
            <p class="navig-page"><a routerLink="/contact-us">Contact</a></p>
            <p><a routerLink="/edit-profile">edit-profile</a></p>
            <p><a routerLink="/view-profile">View-profile</a></p>
            <p class="login-btn"><a routerLink="/login">Logout</a></p>
        </div>

        
        
    </div>
</section>