<div class="auth-container">
    <div class="left">
        <div>
            <h3>Link Up</h3>
            <br>
            <p>Connecting dreams, , One Click at a Time</p>
            <br>
        </div>
        <img src="../../assets/img/linkUp_girls.png" alt="">
    </div>
    <div class="right">
        <img src="../../assets/img/logo.png" alt="">
        <p>Connecting dreams</p>
        <div class="login-form">
            <h3>Login</h3>
            <form action="" [formGroup]="loginForm" (submit)="submitLoginForm()">
                <input formControlName="credential" type="text" placeholder="email"  data-cy="login-email">
                <input formControlName="passcode" type="password" placeholder="Password" data-cy="login-password">
                <button data-cy="submit-login-form" style="color: white;">Login</button>
            </form>
            <p>New here? Register with us</p>
            <a  [routerLink]="['/auth/register']">Register</a>

            <a data-cy="forgot-password" [routerLink]="['/auth/forgot-password']">forgot password</a>
        </div>
        <p data-cy="skip-to-feed" class="skip-btn"><a [routerLink]="['']">skip to feed</a></p>

    </div>
</div>