<app-navbar></app-navbar>

<div class="big-container">

<section class="first-column">
    <div class="display-card">
        <div class="profile-display">
            <img id="header-image" src="../../assets/img/bg-blog.jpg" alt="">
            <img id="dp-image" src="../../assets/img/test_profile.jpg" alt="">
        </div>
        <div  class="profile-display-skills">
            <p>| Python | Django | MEAN Stack (MSSQL | Angular | Express | Nodejs) | Photoshop | Illustrator | Aftereffects</p>
        </div>
        <br>
        <p class="profile-display-bio">bio</p>
        <div class="contacts">
            <p>email</p>
        </div>
    </div>
</section>


<section class="body-container-feed" >

    <!-- make this a modal  -->
    
    <div class="add-post">
            <div class="topside">
                <img src="../../assets/img/test_profile.jpg" alt="">
                <textarea  (click)="openCreatePostModal()"  name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
            </div>
            <div class="bottomside">
                <button>image</button>
                <button id="addPost-btn">submit</button>
            </div>
        <!-- </form> -->
    </div>

    <div class="posts">
        <!-- <h1>recent posts</h1> -->
        <br>

        <div class="picture-post" *ngFor="let post of allpost;  let i = index">
            <div class="user-post-container" >
                <div class="user-details">
                    <img (click)="viewUserProfile(post.user_name)" src="{{post.user_dp}}" alt="">
                    <div>
                        <h3 class="fullname" (click)="viewUserProfile(post.user_name)">{{post.full_name}}</h3>
                        <h5 class="username" (click)="viewUserProfile(post.user_name)">@{{post['user_name']}}</h5>
                        <h6 *ngIf="post.tagged_users.length > 0" class="post-mood">{{ post.tagged_users.split(',')[0] }} and {{ post.tagged_users.split(',').length}} other have been tagged</h6>
                    </div>
                    
                </div>
                <div class="view-post-option-div"  #mainContainer (click)="handleContainerClick($event)">
                    <button class="view-post-options"(click)="togglePostOptions(i)">[ooo]</button>
                    <div  class="post-options" *ngIf="postOptionsVisibility[i]">
                        <p>report</p>
                        <p  *ngIf="isMyPost(post.user_id)" >archive</p>
                        <p  *ngIf="isAdmin()" >suspend</p>

                        <p  *ngIf="isMyPost(post.user_id)" (click)="openEditPostModal(i,post.post_id)">edit</p>
                        <p *ngIf="isMyPost(post.user_id)" (click)="deleteCurrentPost(post.post_id)" class="login-btn">delete</p>
                    </div>
                </div>
            </div>
            <p id="post-body-{{post.post_id}}">{{post['body']}}</p>
            <div class="post-pic">
                <img src="{{post['image']}}" alt="">
            </div>
            <div class="icons">
                <button (click)="likePost(post)" *ngIf="!post.has_liked"><i id="like-btn-{{post.post_id}}" class="far fa-heart fa-lg"></i></button>
                <button (click)="likePost(post)" *ngIf="post.has_liked"><i  class="fas fa-heart fa-lg" style="color: red;"></i></button>
                    <p  *ngIf="post['like_count'] === 1">{{post['like_count']}} like</p>
                        <p *ngIf="post['like_count'] > 1"> {{post['like_count']}} likes</p>
                    
                <i class="fas fa-comment fa-lg"></i>

                    
            </div>
            <!-- <h4 class="username">{{post['user_name']}}</h4> -->
            

            <div class="comment-post">
                <button (click)="viewComments(post.post_id)" routerLink="view-post">view comments</button>
                <form action="" [formGroup]="commentPostForm" (submit)="postComment(post.post_id)">
                    <div class="comment-section" >
                        <div>
                            <input formControlName="body" id="comment-input-feed" type="text">
                        </div>
                        <button class="btn btn-secondary" style="align-self: flex-end; ">Add Comment</button>
                    </div>
                    
                </form>

            </div>
            
        </div>
    </div>
</section>

<section class="third-column">
    <div class="may-know">
        <div class="may-know-title">
            <h6>People you may know</h6>
        </div>
        <br>
        <div class="persons">
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
        </div>
        <br>
    </div>
</section>

</div>
<app-footer></app-footer>