<app-navbar></app-navbar>

<div class="big-container">

<section class="first-column">
    <div class="display-card">
        <div class="profile-display">
            <img id="header-image" src="../../assets/img/bg-blog.jpg" alt="">
            <img id="dp-image" src="../../assets/img/test_profile.jpg" alt="">
        </div>
        <div  class="profile-display-skills">
            <p>| Python | Django | MEAN Stack (MSSQL | Angular | Express | Nodejs) | Photoshop | Illustrator | Aftereffects</p>
        </div>
        <br>
        <p class="profile-display-bio">bio</p>
        <div class="contacts">
            <p>email</p>
        </div>
    </div>
</section>


<section class="body-container-feed">

    <!-- make this a modal  -->
    
    <div class="add-post">
            <div class="topside">
                <img src="../../assets/img/test_profile.jpg" alt="">
                <textarea  (click)="open()"  name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
            </div>
            <div class="bottomside">
                <button>image</button>
                <button id="addPost-btn">submit</button>
            </div>
        <!-- </form> -->
    </div>

    <div class="posts">
        <!-- <h1>recent posts</h1> -->
        <br>

        <div class="picture-post" *ngFor="let post of allpost">
            <div class="user-details">
                <img src="../../assets/img/test_profile.jpg" alt="">
                <div>
                    <h3 class="username">{{post['user_name']}}</h3>
                    <h5 class="post-mood">feeling sijui aje with 17 others</h5>
                </div>
            </div>
            <p>{{post['body']}}</p>
            <div class="post-pic">
                <img src="{{post['image']}}" alt="">
            </div>
            <div class="icons">
                <button (click)="likePost(post)" *ngIf="!post.has_liked"><i id="like-btn-{{post.post_id}}" class="far fa-heart fa-lg"></i></button>
                <button (click)="likePost(post)" *ngIf="post.has_liked"><i  class="fas fa-heart fa-lg" style="color: red;"></i></button>
                    <p  *ngIf="post['like_count'] === 1">{{post['like_count']}} like</p>
                        <p *ngIf="post['like_count'] > 1"> {{post['like_count']}} likes</p>
                    
                <i class="fas fa-comment fa-lg"></i>

                    
            </div>
            <!-- <h4 class="username">{{post['user_name']}}</h4> -->
            

            <div class="comment-post">
                <button routerLink="view-post">view comments</button>
                <form method="POST" action="">
                    <div class="comment-section" >
                        <div>
                            <input type="text">
                        </div>
                        <button class="btn btn-secondary" style="align-self: flex-end; ">Add Comment</button>
                    </div>
                    
                </form>

            </div>
            
        </div>
    </div>
</section>

<section class="third-column">
    <div class="may-know">
        <div class="may-know-title">
            <h6>People you may know</h6>
        </div>
        <br>
        <div class="persons">
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
            <div>
                <img src="../../assets/img/test_profile.jpg" alt="">
                <p>Silomaben</p>
                <button>follow</button>
            </div>
        </div>
        <br>
    </div>
</section>

</div>
<app-footer></app-footer>