<app-navbar></app-navbar>

<section class="body-container">

   

    <div class="posts">
        <br>

        <div class="picture-post">
            <div class="user-post-container" >
                <div class="user-details">
                    <img (click)="viewUserProfile(singlePost.post[0].user_name)" src="{{singlePost.post[0].user_dp}}" alt="">
                    <div>
                        <h3 class="username" (click)="viewUserProfile(singlePost.post[0].user_name)">{{singlePost.post[0].user_name}}</h3>
                        <h5 class="post-mood">feeling sijui niaje with 17 others</h5>
                    </div>
                </div>
                <div class="view-post-option-div"  #mainContainer (click)="handleContainerClick($event)">
                    <button class="view-post-options"(click)="togglePostOptions(0)">[ooo]</button>
                    <div  class="post-options" *ngIf="postOptionsVisibility[0]">
                        <p>report</p>
                        <p  *ngIf="isMyPost(singlePost.post[0].user_id)" >archive</p>
                        <p  *ngIf="isAdmin()" >suspend</p>

                        <p  *ngIf="isMyPost(singlePost.post[0].user_id)" (click)="openEditPostModal(0,singlePost.post[0].post_id)">edit</p>
                        <p *ngIf="isMyPost(singlePost.post[0].user_id)" (click)="deleteCurrentPost(singlePost.post[0].post_id)" class="login-btn">delete</p>
                    </div>
                </div>
            </div>
            <p  id="post-body-{{singlePost.post[0].post_id}}">{{singlePost.post[0].body}}</p>
            <div class="post-pic">
                <img src="{{singlePost.post[0].image}}" alt="">
            </div>
            <div class="icons">
                <button (click)="likePost(singlePost.post[0])" *ngIf="!singlePost.post[0].has_liked"><i id="like-btn-{{singlePost.post[0].post_id}}" class="far fa-heart fa-lg"></i></button>
                <button (click)="likePost(singlePost.post[0])" *ngIf="singlePost.post[0].has_liked"><i  class="fas fa-heart fa-lg" style="color: red;"></i></button>
                    <p *ngIf="singlePost.post[0].likes_count === 1">{{singlePost.post[0].likes_count}} like</p>
                        <p  *ngIf="singlePost.post[0].likes_count > 1">{{singlePost.post[0].likes_count}}  likes</p>
                    
                <i class="fas fa-comment fa-lg"></i>                   
            </div>

            <div class="comment-post">
                <form [formGroup]="commentPostForm" (submit)="postComment(singlePost.post[0].post_id)">
                    <div class="comment-section" >
                        <div>
                            <input formControlName="body" type="text">
                        </div>
                        <button class="btn btn-secondary" style="align-self: flex-end; ">Add Comment</button>
                    </div>
                    
                </form>

            </div>


            
            <div *ngFor="let comment of this.singlePost.comments" class="level-1-comment">
                <div class="comments-dp">
                    <img src="{{comment.user_dp}}" alt="">
                </div>
                <div>
                    <h4 class="username">{{ comment.username }}</h4>
                    <p>{{ comment.body }}</p>
                    <div class="comment-icons">
                        <div *ngIf="!comment.has_liked"><button (click)="likeComment(comment)"><i class="far fa-heart fa-lg"></i></button><span *ngIf="comment.like_count === 0"> like</span><span *ngIf="comment.like_count == 1"> {{ comment.like_count }} like</span><span *ngIf="comment.like_count > 1"> {{ comment.like_count }} likes</span></div>
                        <div *ngIf="comment.has_liked"><button (click)="likeComment(comment)"><i style="color: red;" class="fas fa-heart fa-lg"></i></button><span *ngIf="comment.like_count === 0"> like</span><span *ngIf="comment.like_count == 1"> {{ comment.like_count }} like</span><span *ngIf="comment.like_count > 1"> {{ comment.like_count }} likes</span></div>
                        <div><button><i class="fas fa-reply"></i></button><span> reply</span></div>
                    </div>
                    <div class="comment-comment">
                <form method="POST" [formGroup]="subCommentForm" (click)="addSubComment(comment.comment_id)">
                    <div class="comment-section" >
                        <div>
                            <input formControlName="body" type="text">
                        </div>
                        <button class="btn btn-secondary" style="align-self: flex-end; ">Add Comment</button>
                    </div>
                    
                </form>

            </div>
                    <div *ngIf="comment.subcomments.length > 0" class="level-2-comments">
                        <div *ngFor="let subcomment of comment.subcomments" class="level-2-comment">
                        
                            <div class="level-2-comment">
                                <div class="comments-dp">
                                    <img src="{{ subcomment.user_dp }}" alt="">
                                </div>
                                <div>
                                    <h4 class="username">{{ subcomment.username }}</h4>
                                    <p>{{ subcomment.body }}</p>
                                    <div class="comment-icons">
                                        <div *ngIf="!subcomment.has_liked"><button (click)="likeSubcomment(subcomment)"><i class="far fa-heart fa-lg"></i></button><span *ngIf="subcomment.like_count === 0"> like</span><span *ngIf="subcomment.like_count === 1"> {{ subcomment.like_count }} like</span><span *ngIf="subcomment.like_count > 1"> {{ subcomment.like_count }} likes</span></div>
                                        <div *ngIf="subcomment.has_liked"><button (click)="likeSubcomment(subcomment)"><i style="color: red;" class="fas fa-heart fa-lg"></i></button><span *ngIf="subcomment.like_count === 0"> like</span><span *ngIf="subcomment.like_count === 1"> {{ subcomment.like_count }} likes</span><span *ngIf="subcomment.like_count > 1"> {{ subcomment.like_count }} likes</span></div>
                                        <!-- <div><button><i class="fas fa-reply"></i></button><span> reply</span></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        
    </div>
</section>



<app-footer></app-footer>