<div class="forgot-password-container">
    <div class="forgot-center">
        <img src="../../assets/img/logo.png" alt="">
        <p>Connecting dreams</p>
        <div class="forgot-form">
            <h4 >Forgot password</h4>
            <p>Enter your email address to reset your password.</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="haveForgottenPassword()">
                <p></p>
            <br>
                <input formControlName="email" type="text" placeholder="Email" data-cy="forgot-password-email-input">
                <button data-cy="forgot-password-btn" style="color: white;">send</button>
            </form>
        </div>

    </div>
    <!-- <div class="left-reg">
        <div>
            <h3>Link Up</h3>
            <br>
            <p>Connecting dreams, , One Click at a Time</p>
            <br>
        </div>
        <img src="../../assets/img/linkUp_girls.png" alt="">
    </div> -->
</div>
