
<ng-container *ngIf="displayCreatePostModal$ | async as display">
    <section [class.open]="display === 'open'" (click)="closeCreatePostModal()">
      <div (click)="$event.stopPropagation()">
        <button class="close" type="button" (click)="closeCreatePostModal()">X</button>
  
                <div class="add-post-modal">
                    <form action="" [formGroup]="createPostForm">
                        <div class="topside-modal">
                            <img src="../../assets/img/test_profile.jpg" alt="">
                        </div>
                        <textarea formControlName="body" id="postText" name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
                        <input type="file"  (change)="onChange($event)">
                        <div class="bottomside-modal">
                            <button>image</button>
                            <button (click)="sendPost()" id="addPost-btn-modal" [disabled]="disableSubmitButton">submit</button>
                        </div>
                    </form>
                </div>
      </div>
    </section>
  </ng-container>


<ng-container *ngIf="displayEditPostModal$ | async as display" class="fixedModal">
    <section [class.open]="display === 'open'" (click)="closeEditPostModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeEditPostModal()">X</button>
                <div class="edit-post-modal">
                    <form action="" [formGroup]="editPostForm">
                        <p>edit post</p>
                        <div class="topside-modal">
                            <img src="../../assets/img/test_profile.jpg" alt="">
                        </div>
                        <textarea formControlName="body" id="" class="editPostBody" name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
                        <div class="bottomside-modal">
                            <button>image</button>
                            <button (click)="editCurrentPost()" id="addPost-btn-modal">Update Post</button>
                        </div>
                    </form>
                </div>
      </div>
    </section>
  </ng-container>

<ng-container *ngIf="displaySettingsModal$ | async as display" class="settingsModal">
    <section [class.open]="display === 'open'" (click)="closeSettingsModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeSettingsModal()">X</button>
                <div class="settings-modal">
                  <!-- <div class="settings-modal"> -->
                    <br>
                    <br><br>
                    <form >
                      <h3>Settings</h3>
                      <br>
                      <p>To deactivate account, enter your password to confirm the deactivation.</p>
                      <br>
                      <label for="confirmPassword"></label>
                      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                      <br>
                      
                      <button  class="save-settings-btn">Deactivate Account</button>
                    
                  </form>
                </div>
      </div>
    </section>
  </ng-container>
