
<ng-container *ngIf="displayCreatePostModal$ | async as display">
    <section [class.open]="display === 'open'" (click)="closeCreatePostModal()">
      <div (click)="$event.stopPropagation()">
        <button class="close" type="button" (click)="closeCreatePostModal()">X</button>
  
                <div class="add-post-modal">
                    <form action="" [formGroup]="createPostForm">
                        <div class="topside-modal">
                            <img src="../../assets/img/test_profile.jpg" alt="">
                        </div>
                        <textarea formControlName="body" id="postText" name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
                        
                       
                        <div class="tagged-users">
                          <input type="text"  formControlName="searchedUsers" (input)="filterResults()"  id="select-users-to-tag" placeholder="Search and tag user..."/>
                          <div class="tag-list"  *ngFor="let user of filteredSearch">
                            <div (click)="tagUser(user.username)" class="tagged-user">{{user.username}} <span class="remove-tag"><i class="fa fa-times"></i></span> </div>
                          </div>
                        </div>

                        <input id="select-image_input" type="file"  (change)="onChange($event)">

                        
                        
                        <div class="bottomside-modal">
                            <button>image</button>
                            <button (click)="sendPost()" id="addPost-btn-modal" [disabled]="disableSubmitButton">submit</button>
                        </div>
                    </form>
                </div>
      </div>
    </section>
  </ng-container>


<ng-container *ngIf="displayEditPostModal$ | async as display" class="fixedModal">
    <section [class.open]="display === 'open'" (click)="closeEditPostModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeEditPostModal()">X</button>
                <div class="edit-post-modal">
                    <form action="" [formGroup]="editPostForm">
                        <p>edit post</p>
                        <div class="topside-modal">
                            <img src="../../assets/img/test_profile.jpg" alt="">
                        </div>
                        <textarea formControlName="body" id="" class="editPostBody" name="postText" rows="4" cols="50" placeholder="What’s on your mind, kay?"></textarea>
                        <div class="bottomside-modal">
                            <button>image</button>
                            <button (click)="editCurrentPost()" id="addPost-btn-modal">Update Post</button>
                        </div>
                    </form>
                </div>
      </div>
    </section>
  </ng-container>

<ng-container *ngIf="displaySettingsModal$ | async as display" class="settingsModal">
    <section [class.open]="display === 'open'" (click)="closeSettingsModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeSettingsModal()">X</button>
                <div class="settings-modal">
                    <br>
                    <br><br>
                    <form [formGroup]="deactivateAccount" (ngSubmit)="deactivate()">
                      <h3>Settings</h3>
                      <br>
                      <p>To deactivate account, enter your password to confirm the deactivation.</p>
                      <br>
                      <label for="confirmPassword"></label>
                      <input formControlName="password" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                      <br>
                      
                      <button  class="deactivate-settings-btn">Deactivate Account</button>
                    
                  </form>
                </div>
      </div>
    </section>
  </ng-container>


<ng-container *ngIf="displayBarnUserModal$ | async as display" class="barnUserModal">
    <section [class.open]="display === 'open'" (click)="closeBarnUserModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeBarnUserModal()">X</button>
                <div class="barnUser-Modal">
                    <br>
                    <br><br>
                    <form [formGroup]="barnUserPassword" (ngSubmit)="suspendUser()">
                      <h3>Barn User</h3>
                      <br>
                      <p>To deactivate account, enter your password to confirm the deactivation.</p>
                      <br>
                      <label for="confirmPassword"></label>
                      <input formControlName="password" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                      <br>
                      
                      <button  class="deactivate-settings-btn">Deactivate Account</button>
                    
                  </form>
                </div>
      </div>
    </section>
  </ng-container>


<ng-container *ngIf="displayUnbarnUserModal$ | async as display" class="barnUserModal">
    <section [class.open]="display === 'open'" (click)="closeUnbarnUserModal()">
      <div (click)="$event.stopPropagation()" >
        <button class="close" type="button" (click)="closeUnbarnUserModal()">X</button>
                <div class="barnUser-Modal">
                    <br>
                    <br><br>
                    <form [formGroup]="barnUserPassword" (ngSubmit)="unSuspendUser()">
                      <h3>Unbarn User</h3>
                      <br>
                      <p>To deactivate account, enter your password to confirm the deactivation.</p>
                      <br>
                      <label for="confirmPassword"></label>
                      <input formControlName="password" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                      <br>
                      
                      <button  class="deactivate-settings-btn">Deactivate Account</button>
                    
                  </form>
                </div>
      </div>
    </section>
  </ng-container>
