<app-navbar></app-navbar>


<section class="body-container" id="followers">
    <br>
    <h4>Search for users</h4>
    <br>
    <div class="search-users">
        <input type="text" [(ngModel)]="searchText" (input)="filterResults()">
        <button (click)="filterResults()">search</button>

    </div>
    <div class="single-user" *ngFor="let user of filteredSearch">
        <div class="single-user-detail" (click)="viewUserProfile(user.username)">
            <div class="search-display-pic">
                <img src="{{user.user_dp}}" alt="">
            </div>
            <div class="search-display-names">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <h4>@{{user.username}}</h4>
            </div>
        </div>
        
        <p (click)="viewUserProfile(user.username)">view profile</p>
    </div>
    
</section>