<app-navbar></app-navbar>


<section class="body-container" id="followers">
    <br>
    <h4>Search for users</h4>
    <br>
    <div class="search-users">
        <input type="text">
        <button>search</button>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
    <div class="single-user">
        <div class="single-user-details">
            <div>
                <img src="../assets/img/test_profile.jpg" alt="">
                <h3>unregister3d_user</h3>
            </div>
            <h4>unregistered user</h4>
        </div>
        
        <p>view profile</p>
    </div>
</section>