<div class="auth-container">
    <div class="right-reg">
        <img src="../../assets/img/logo.png" alt="">
        <p>Connecting dreams</p>
        <div class="reg-form">
            <h3>Register</h3>
            <form [formGroup]="registerForm" (ngSubmit)="submitRegistrationForm()">
                <div>
                    <input  data-cy="reg-firstname" formControlName="first_name" type="text" placeholder="First Name">
                    <input data-cy="reg-lastname" formControlName="last_name" type="text" placeholder="Last Name">
                </div>
                <input data-cy="reg-username" formControlName="username" type="text" placeholder="Username">
                <input data-cy="reg-email" formControlName="email" type="text" placeholder="Email">
                <input data-cy="reg-password" formControlName="password" type="password" placeholder="Password">
                <input data-cy="reg-confirm-password" formControlName="confirmPassword" type="password" placeholder="Confirm password">
                <button data-cy="reg-btn"  style="color: white;"  type="submit">Register</button>
            </form>
            <p>Already Have an Account?</p>
            <a id="go-to-login"  [routerLink]="['/auth/login']">Login</a>
        </div>
        <p data-cy="skip-to-feed" class="skip-btn"><a [routerLink]="['']">skip to feed</a></p>

    </div>
    <div class="left-reg">
        <div>
            <h3>Link Up</h3>
            <br>
            <p>Connecting dreams, , One Click at a Time</p>
            <br>
        </div>
        <img src="../../assets/img/linkUp_girls.png" alt="">
    </div>
</div>