<div class="auth-container">
    <div class="left-reg">
        <div>
            <h3>Link Up</h3>
            <br>
            <p>Connecting dreams, , One Click at a Time</p>
            <br>
        </div>
        <img src="../../assets/img/linkUp_girls.png" alt="">
    </div>
    <div class="right-reg">
        <img src="../../assets/img/logo.png" alt="">
        <p>Connecting dreams</p>
        <div class="reg-form">
            <h3>Register</h3>
            <form action="">
                <div>
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">
                <input type="text" placeholder="Confirm password">
                <button>Register</button>
            </form>
            <p>Already Have an Account?</p>
            <a [routerLink]="['/auth/login']">Login</a>
        </div>
        <p class="skip-btn"><a [routerLink]="['']">skip to feed</a></p>

    </div>
</div>